@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 5%;

    --card: 0 0% 98%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 98%;
    --popover-foreground: 0 0% 5%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 91%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 40%;

    --accent: 0 0% 95%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 91%;
    --input: 0 0% 85%;
    --ring: 0 0% 71%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 5%;
    --foreground: 0 0% 90%;

    --card: 0 0% 7%;
    --card-foreground: 0 0% 90%;

    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 90%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 2%;

    --secondary: 0 0% 14%;
    --secondary-foreground: 0 0% 90%;

    --muted: 0 0% 12%;
    --muted-foreground: 0 0% 60%;

    --accent: 0 0% 12%;
    --accent-foreground: 0 0% 90%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 15%;
    --input: 0 0% 23%;
    --ring: 0 0% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


body {
  font-synthesis: none;
  font-optical-sizing: auto;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  orphans: 3;
  widows: 3;
  -webkit-hyphenate-limit-before: 4;
  -webkit-hyphenate-limit-after: 4;
  -webkit-hyphenate-limit-chars: 8 4 4;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;
  hyphens: auto;
  hyphenate-limit-chars: 8 4 4;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  hanging-punctuation: first last;
}

